<a href="https://colab.research.google.com/github/owen-brooks/xai-senior-design/blob/master/data_generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from scipy.stats import truncnorm
import matplotlib.pyplot as plt
import random
import pandas as pd

In [0]:
def gen_rand_vals(mu, sigma, lower, upper, N):
  """Uses truncated normal dist to find rand vals"""
  a, b = (lower - mu) / sigma, (upper - mu) / sigma
  return truncnorm.rvs(a, b, mu, sigma, size=N)

In [0]:
def calc_trip_consumption(tf, td, to, ei, vers=0):
  """Calculate personal energy consumption for a trip

  Uses different variations of the formula
  :param tf: Trip Frequency
  :param td: Trip Distance
  :param to: Transportation Occupancy
  :param ei: Energy Intensity
  :param vers: version of forumla, defaults to actual formula
  """
  if vers == 0:
    return (tf*(td/to))*ei # default
  elif vers == 1:
    return ((tf**2)*(td/to))*ei
  elif vers == 2:
    return (tf*(td/(to**.5)))*(ei**.5)
  elif vers == 3:
    return (tf*(td/to))*ei
  elif vers == 4:
    return (tf*(td/to))*ei
  elif vers == 6:
    return (tf*(td/to))*ei
  elif vers == 7:
    return (tf*(td/to))*ei
  elif vers == 8:
    return (tf*(td/to))*ei
  elif vers == 9:
    return (tf*(td/to))*ei

In [0]:
def get_td():
  return gen_rand_vals(7.772449, 10.648316, 0.004418, 130.474121, 1)[0]
def get_tf():
  # num trips needs to be an int
  return round(gen_rand_vals(2.787475, 2.082404, 1, 20, 1)[0])
def get_car_to():
  # num of occupants needs to be an int
  return round(gen_rand_vals(2.196296, 12.488912, 1, 23, 1)[0])

## MODE (From Shideh's Notebook)
# 8(taxi)== 10(shutte),13(private transit), 9 (rental car), 19(paratansit)
#22 (rail) == 28(other rail), 23 (trolly..), 24(NI commuter rail), 25(ni rail)
# 21(subway) == 27(train), 26 (pastco)
#14(bus) == 17(amtrak bus), 15== transit bus , 20(otherbus)
# 2 (bikE) == 3(weelchair), 3(other non mot), 7(mope, motor)
modes_key = {
    5: "Private Vehicle", 8: "Taxi/Shuttle/Private Transit",
    21: "subway/train/pastco", 14: "bus/amtrak bus/transit bus", 
    26: "school bus", 22: "rail/trolly/pastco"
    }
modes_ei = {
    5: 1.354954955, 8: 1.21,
    21: 0.5899, 14: 0.7872,
    26: 4.814285714, 22: 0.933
    }
modes_to = {
    5: get_car_to(), 8: 3,
    21: 75, 14: 55,
    26: 26, 22: 120
    }
modes = list(modes_key.keys())
print(modes)

[5, 8, 21, 14, 26, 22]

In [0]:
N = 100
features = ["mode", "ei", "to", "td", "tf", "consumption"]
rows = []
for i in range(N):
  mode = random.choice(modes) # transporation choice is random
  tf, td = get_tf(), get_td()
  rows.append([mode, modes_ei[mode], modes_to[mode], td, tf, calc_trip_consumption(tf,td,modes_to[mode],modes_ei[mode])])
df = pd.DataFrame(rows, columns=features)
df.head()

   mode        ei    to         td   tf  consumption
0     5  1.354955  12.0   2.735897  2.0     0.617836
1     8  1.210000   3.0   6.529261  3.0     7.900406
2     5  1.354955  12.0   7.299119  3.0     2.472494
3    21  0.589900  75.0  17.627273  2.0     0.277289
4     8  1.210000   3.0   5.964745  4.0     9.623121